*{
    margin: 0;
    padding: 0;
    font-family: 'Dosis', 'Nunito', sans-serif;
}

header{
    background-color: #444;
    height: 25px;
    width: 100%;
    -webkit-app-region: drag;
}

.headerButtons{
    position: absolute;
    background-color: #444;
    min-height: 25px;
    max-height: 25px;
    min-width: 50px;
    max-width: 50px;
    -webkit-app-region: no-drag;
}

#closeButton{
    background-color: #444;
    right: 0px;
}

#closeButton:hover{
    background-color: #D11;
}

#maximizeButton{
    right: 50px;
}

#minimizeButton{
    right: 100px;
}

#maximizeButton:hover, #minimizeButton:hover, #settingsButton:hover{
    background-color: #4A4A4A;
}

.buttonImg{
    height: 20px;
    padding-top: 2.5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 50%;
}

#settingsMenu{
    position: absolute;
    left: 0px;
    top: 25px;
    min-width: 100px;
    min-height: 62px;
    visibility: hidden;
    background-color: #333;
    z-index: 10;
    margin: auto;
}

ul{
    min-height: 62px;
}

#settingsMenu li{
    color: white;
    font-size: 1.5em;
    padding: 10px;
    list-style-type: none;
    text-align: center;
    background-color: #333;
    -webkit-app-region: no-drag;
}

#settingsMenu li:hover{
    cursor: pointer;
    background-color: #666;
    -webkit-app-region: no-drag;
}

.sidebar, .pinboard{
    position: absolute;
    top: 25px;
    bottom: 0px;
}

.sidebar{
    background-color: #555;
    min-width: 100px;
    left: 0;
}

.socialIcon{
    width: 75px;
    height: 75px;
    margin: 12.5px;
    border-radius: 25px;
    background-color: #666;
    vertical-align: middle;
}

.icon{
    width: 50px;
    height: 50px;
    margin: 12.5px;
}

.pinboard{
    background-color: #666;
    left: 100px;
    right: 0px;
}